.horizontal-list {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.horizontal-list > * {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media (min-width: 768px) {
  .horizontal-list > *:not(:last-child) {
    border-right: 2px solid var(--bs-dark-border-subtle) !important;
  }
}
